[*.cs]

# CS1573: Параметр не имеет соответствующий тег параметра в комментарии XML (в отличие от остальных параметров)
dotnet_diagnostic.CS1573.severity = none

# IDE0008: Использование явного типа
dotnet_diagnostic.IDE0008.severity = none

# CA1031: Не перехватывать исключения общих типов
dotnet_diagnostic.CA1031.severity = none

# CA1849: Call async methods when in an async method
dotnet_diagnostic.CA1849.severity = silent

# IDE0034: Упростить выражение default
csharp_prefer_simple_default_expression = false
